extends layout

block content
  h1 Create Your Card Here
  form(method = "POST" action = "/card")
    label(for = "firstName") First:
    input(type = "text" name = "firstName" id = "firstName")

    label(for = "lastName") Last:
    input(type = "text" name = "lastName" id = "lastName")

    label(for = "type") Type
    select(name = "type" id = "type")
      option(value = "Bronze") Bronze
      option(value = "Standard") Standard
      option(value = "Premium") Premium

    label(for = "dateOfBirth") DOB
    input(type = "date" name = "dateOfBirth" id = "dateOfBirth")

    label(for = "addressLine1") Address Line 1:
    input(type = "text" name = "addressLine1" id = "addressLine1")

    label(for = "addressLine2") Address Line 2:
    input(type = "text" name = "addressLine2" id = "addressLine2")

    label(for = "city") City:
    input(type = "text" name = "city" id = "city")

    label(for = "state") State:
    select(name = "state" id = "state")
      option(value = "AL") Alabama
      option(value = "AK") Alaska
      option(value = "AZ") Arizona
      option(value = "AR") Arkansas
      option(value = "CA") California
      option(value = "CO") Colorado
      option(value = "CT") Connecticut
      option(value = "DE") Delaware
      option(value = "FL") Florida
      option(value = "GA") Georgia
      option(value = "HI") Hawaii
      option(value = "ID") Idaho
      option(value = "IL") Illinois
      option(value = "IN") Indiana
      option(value = "IA") Iowa
      option(value = "KS") Kansas
      option(value = "KY") Kentucky
      option(value = "LA") Louisiana
      option(value = "ME") Maine
      option(value = "MD") Maryland
      option(value = "MA") Massachusetts
      option(value = "MI") Michigan
      option(value = "MN") Minnesota
      option(value = "MS") Mississippi
      option(value = "MO") Missouri
      option(value = "MT") Montana
      option(value = "NE") Nebraska
      option(value = "NV") Nevada
      option(value = "NH") New Hampshire
      option(value = "NJ") New Jersey
      option(value = "NM") New Mexico
      option(value = "NY") New York
      option(value = "NC") North Carolina
      option(value = "ND") North Dakota
      option(value = "OH") Ohio
      option(value = "OK") Oklahoma
      option(value = "OR") Oregon
      option(value = "PA") Pennsylvania
      option(value = "RI") Rhode Island
      option(value = "SC") South Carolina
      option(value = "SD") South Dakota
      option(value = "TN") Tennessee
      option(value = "TX") Texas
      option(value = "UT") Utah
      option(value = "VT") Vermont
      option(value = "VA") Virginia
      option(value = "WA") Washington
      option(value = "WV") West Virginia
      option(value = "WI") Wisconsin
      option(value = "WY") Wyoming

    label(for = "zip") Zip Code:
    input(type = "text" name = "zip" id = "zip")

    button(type = "submit" action = "post") Create My Card!
