body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label, input {
  display: block;
}

input, select {
  margin-bottom: 16px;
}

.info-row, .info-container {
  display: flex;
}

.info-row {
  flex: 1;
}

.label {
  font-weight: bold;
  margin-right: 8px;
}

.info-container {
  gap: 16px;
}

.name-row {
  font-size: 20px;
}

.card p {
  margin: 6px;
}

.card {
  border: 1px solid #999;
  border-radius: 8px;
  max-width: 400px;
  padding: 16px;
}

.title {
  display: flex;
  justify-content: center;
}

.address-text p {
  padding: 0;
  margin: 0;
}

.address-text p:first-child {
  margin-top: 6px;
}

.address-text p:last-child {
  margin-bottom: 6px;
}

.card.premium {
  border: 3px solid #C99839;
  background-color: #FDF6E7;
  color: #C99839;
}

.card.standard {
  border: 3px solid #7D7D7D;
  background-color: #F4F4F4;
  color: #7D7D7D;
}

.card.bronze {
  border: 3px solid #714740;
  background-color: #F1E1DF;
  color: #714740;
}

.label {
  color: black;
}

.lobster {
  font-family: 'lobster';
}

.img {
  width: 200px;
}

.random {
  font-size: 30px;
}